@charset "utf-8";

/*============================================================
# mixins
=============================================================*/

//ブレークポイント
$layout-width-inner: 1200px;
$breakpoints: (
  'sp': '(max-width: 767px)', //767px以下（スマホ）用の表示
  'md': '(min-width: 768px)',//767px以上
) ;

//メディアクエリ
@mixin mq($breakpoint: sp) {
      @media #{map-get($breakpoints, $breakpoint)} {
        @content;
      }
}

/*============================================================
# colors
=============================================================*/

$primary-color: #3EA1D1;
$font-color: #333;

/*============================================================
# common -全体に共通するスタイル
=============================================================*/
  @include mq('sp') {
    .is-pc {
      display: none;
    }
  }

  @include mq('md') {
    .is-sp {
      display: none;
    }  
  }

  body {
    font-size: 16px;
    color: $font-color;
    font-family: "ヒラギノ明朝 ProN", serif;
    line-height: 1.6875;
  }

  img {
    width: 100%;
  }
  
   /* header
  =============================================================*/
